.cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.products {
  width: 56%;
  margin-top: 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.products__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 600px) {
  .products {
  width: 56%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
}

.product {
  margin-bottom: 1rem;
  box-shadow: 0 5px 10px rgba(30,144,255,0.26);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}
.product__image {
  width: 250px;
  object-fit: contain;
  border-radius: 10px;
}
.product__details {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.details__title {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--secondary-color);
}
.details__desc {
  font-size: 0.85rem;
  color: var(--secondary-color);
}
.details__price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1E90FF;
}
.product__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}
.buttons__btn {
  width: 100px;
  padding: 0.5rem;
  border: 1px solid #1E90FF;
  border-radius: 10px;
  font-size: 0.65rem;
  font-weight: bold;
  cursor: pointer;
}
.buttons__btn:hover {
  opacity: 0.7;
}
.buttons__view {
  background: var(--light-color);
  color: #1E90FF;
}
.buttons__add {
  background: #1E90FF;
  color: var(--secondary-color);
}


.singleItem {
  width: 1100px;
  margin: 2rem auto;
  display: flex;
}
.singleItem__image {
  width: 600px;
  object-fit: contain;
  margin-right: 1rem;
  box-shadow: 0 2px 8px rgba(30,144,255,0.26);
  border-radius: 10px;
}
.singleItem__details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--secondary-color);
}
.details__title,
.details__price {
  font-size: 1.2rem;
  font-weight: bold;
}
.details__price {
  color: #1E90FF;
}
.details__description {
  font-size: 1rem;
}
.details__addBtn {
  width: 45%;
  padding: 10px 17px;
  background: #1E90FF;
  color: var(--secondary-color);
  border: 1px solid #1E90FF;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.details__addBtn:hover {
  opacity: 0.75;
}


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background: #1E90FF;
  position: sticky;
  top: 0;
  left: 0;
}
.navbar__logo {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
.navbar__cart {
  background: #fff;
  width: 180px;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}
.navbar__cart:hover {
  opacity: 0.75;
}
.cart__title {
  font-size: 30px;
  font-weight: bold;
  color: #1E90FF;
}
.cart__image {
  width: 30px;
  height: 30px;
  object-fit: contain;
  color: #1E90FF;
}
.cart__counter {
  height: 40px;
  width: 40px;
  border: 1px solid #1E90FF;
  border-radius: 50%;
  color: var(--light-color);
  background: #1E90FF;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cart {
  margin: 2rem auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
.cart__items {
  flex: 0.7;
  margin-right: 1rem;
}
.cart__summary {
  height: 100px;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(30,144,255,0.26);
  border-radius: 10px;
}
.summary__title {
  font-size: 1.2rem;
  font-weight: bold;
}
.summary__price {
  display: flex;
  align-items: center;
}
.sum__price {
  color: #1E90FF;
}
.summary__price span:nth-child(1) {
  font-size: 0.9rem;
  flex: 0.6;
}
.summary__price span:nth-child(2) {
  flex: 0.4;
  font-size: 1.2rem;
  font-weight: bold;
}


.cartItem {
  margin-bottom: 1rem;
  display: flex;
  box-shadow: 0 2px 8px rgba(30,144,255,0.26);
  border-radius: 10px;
}

.cartItem__image {
  width: 350px;
  object-fit: contain;
  border-radius: 10px;
}

.cartItem__details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--secondary-color);
}

.details__title {
  font-size: 1rem;
  font-weight: bold;
}

.details__desc {
  font-size: 0.8rem;
}

.details__price {
  font-size: 1rem;
  font-weight: bold;
  color: #1E90FF;
}

.cartItem__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.6rem;
}

.cartItem__qty {
  display: flex;
  align-items: center;
}

.cartItem__qty input {
  padding: 10px;
  margin-left: 0.4rem;
  width: 60px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  outline: none;
}

.actions__deleteItemBtn {
  width: 50px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
  outline: none;
}

.actions__deleteItemBtn:hover {
  transform: scale(1.2) rotate(360deg);
  background-color: rgb(209, 15, 15);
}

.actions__deleteItemBtn img {
  width: 25px;
  height: 25px;
}
